<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="pagedesigner:reset" type="Sitecore.Support.Shell.Applications.Layouts.PageDesigner.Commands.CustomReset, Sitecore.Support.96044" patch:instead="*[@type='Sitecore.Shell.Applications.Layouts.PageDesigner.Commands.Reset, Sitecore.Client']" />
      <command name="item:setlayoutdetails" type="Sitecore.Support.Shell.Framework.Commands.CustomSetLayoutDetails, Sitecore.Support.96044" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.SetLayoutDetails,Sitecore.Kernel']" />
    </commands>
    <sitecore.experienceeditor.speak.requests patch:source="Sitecore.ExperienceEditor.Speak.Requests.config">
      <request name="ExperienceEditor.ResetLayout.IsEnabled" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.ResetLayout.IsResetEnabled, Sitecore.Support.96044" patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.ResetLayout.IsEnabled, Sitecore.ExperienceEditor.Speak.Ribbon']" />
      <request name="ExperienceEditor.LayoutDetails.CanEdit" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.LayoutDetails.CustomCanEditLayoutDetailsRequest, Sitecore.Support.96044" patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LayoutDetails.CanEditLayoutDetailsRequest, Sitecore.ExperienceEditor.Speak.Ribbon']" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>